/************************************************/
.video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  overflow: hidden;
  z-index: -1;
  background-image: url(../../../public/images/beach.gif);
  background-size: cover;
}

/************************************************/
.trippy {
  animation: trippy 10s infinite;
}

/************************************************/
.content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************************************************/
@keyframes trippy {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
