@import '../../../styles/abstracts/sass-variables';

/***********************************************************/
.hero {
  padding: 0.3rem;

  @media only screen and (min-width: $bp-md) {
    margin-left: auto;
    margin-right: 0.8rem;
  }
}

/***********************************************************/
.links {
  display: flex;
  align-items: stretch;

  &:hover svg,
  &:focus svg {
    fill: #000;
    transform: translate(0.1rem, -0.2rem);
  }

  &:focus {
    outline: none;
  }

  svg {
    display: block;

    fill: rgba(#000, 0.7);
    transition: all ease-in 0.2s;

    @media only screen and (min-width: $bp-sm) {
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}

/***********************************************************/
.logos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5rem;
  transform: translateY(-0.25rem);
  width: 18rem;
  @media only screen and (min-width: $bp-sm) {
    width: 20rem;
  }
}

/***********************************************************/
.jam {
  display: none;
  @media only screen and (min-width: $bp-md) {
    display: block;
    position: absolute;
    bottom: 0.7rem;
    left: 0;
    color: rgba(0, 0, 0, 0.7);
    line-height: 0;
    z-index: 2;
    transform: translate(1rem, 0);
    font-size: 2.5rem;
  }
}
