@import '../../../styles/base/animations';
@import '../../../styles/abstracts/sass-variables';

/**********************************************************************/
.hero {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  z-index: 20;
  margin: auto;
  padding-bottom: 7rem;
  color: var(--text-light);

  width: 70%;
  position: relative;

  @media screen and (orientation: landscape) {
    margin: auto;
  }

  @media screen and (max-height: $bp-md) and (orientation: portrait) {
    margin: 7rem 0 auto;
    padding-bottom: 0;
  }

  @media screen and (max-height: $bp-sm) and (orientation: portrait) {
    margin: 6rem 0 auto;
    padding-bottom: 0;
  }

  @media screen and (max-height: $bp-xs) and (orientation: portrait) {
    margin: auto;
    padding-bottom: 0;
  }

  @media screen and (max-height: $bp-xs) and (orientation: landscape) {
    margin: 1rem auto auto;
    padding-bottom: 0;
  }
}

/**********************************************************************/
.heading {
  align-self: center;
  color: var(--text-light);
  margin-bottom: 4rem;
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
  }
}

/**********************************************************************/
.icons {
  display: flex;
  justify-content: space-between;
}

/**********************************************************************/
.icon {
  // position: absolute;

  svg {
    width: 7rem;
    height: 7rem;
  }

  &__guitar {
  }

  &__xylophone {
  }

  &__rockstar {
    transform: rotateY(180deg) rotateZ(-25deg);
    svg {
      width: 10rem;
      height: 10rem;
    }
  }

  &__handsonic {
  }

  &__keys {
  }

  &__notes {
  }

  &__bongos {
    svg {
      width: 10rem;
      height: 10rem;
    }
  }
}

/**********************************************************************/
.text {
  display: block;
  margin: 0.3rem 0;
  font-size: 5rem;
  font-weight: 500;
  // font-style: italic;
  letter-spacing: 0.8rem;
  text-shadow: 1px 3px 3px rgba(var(--text), 0.7);

  &--2 {
    align-self: center;
  }

  &--3 {
    align-self: flex-end;
  }

  @media only screen and (max-width: $bp-lg) {
    font-size: 4rem;
    letter-spacing: 0.7rem;

    &--1,
    &--2,
    &--3 {
      align-self: center;
      margin: 0.2rem 0;
    }
  }

  @media only screen and (max-width: $bp-xs) {
    font-size: 3rem;
    letter-spacing: 0.7rem;

    &--1,
    &--2,
    &--3 {
      transform: translate(0rem);
      align-self: center;
      margin: 0rem 0;
    }
  }
}
