@import '../../../styles/abstracts/sass-variables';

/*****************************************************************/
.card {
  overflow-x: hidden;
  margin: 0.3rem 0rem;
  position: relative;
  background-color: var(--text-light);
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem 0.8rem;
  color: rgba(#fff, 0.7);
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.7);

  @media only screen and (min-width: $bp-md) {
    box-shadow: 1.8rem 1.7rem 1rem rgba(0, 0, 0, 0.4);
    max-width: 45rem;
    margin: 1.2rem auto;
  }

  @media only screen and (min-width: $bp-lg) {
    max-width: 30rem;
    margin: 1rem 1.5rem;
  }

  @media only screen and (min-width: $bp-xl) {
    margin: 3rem 1.5rem;
  }

  @media only screen and (min-width: 103.12375em) {
    margin: 4.5rem auto 3rem auto;
    box-shadow: 2.5rem 2.3rem 1rem rgba(0, 0, 0, 0.4);
  }

  @media only screen and (min-width: 110em) {
    max-width: 33rem;
  }

  svg {
    fill: rgba(#fff, 0.7);
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.7;
    cursor: default;
    transform: translate(0.2rem, 0.2rem);
  }
}

/*****************************************************************/
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

/*****************************************************************/
.title {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin: 0.5rem 0 1rem;
  text-transform: uppercase;
  color: rgba(#fff, 0.7);

  @media only screen and (max-width: $bp-xs) {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
}

/*****************************************************************/
.list {
  list-style: none;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;

  &Item {
    text-transform: Capitalize;
    padding: 0.5rem 0;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-xs) {
      font-size: 1.3rem;
      padding: 0.1rem 0;
      letter-spacing: 0.1rem;
    }

    @media only screen and (min-width: $bp-sm) {
      white-space: nowrap;
    }

    @media only screen and (min-width: $bp-lg) {
      padding-left: 4rem;
    }

    @media only screen and (min-width: $bp-xl) {
      padding-left: 0;
    }

    &::before {
      content: '-';
      letter-spacing: 0.6rem;
    }
  }
}

/*****************************************************************/
.img {
  display: block;
  border-radius: 50%;

  height: 16.5rem;
  width: 16.5rem;
  overflow: visible;
  align-self: center;
  background-size: cover;
  transform: translateY(-0.3rem);
  border: 1px solid rgba(#000, 0.8);
  position: relative;
  z-index: 1;

  &--photo1 {
    background-image: url(../../../public/images/bunny-ears.png);
    background-position: center top 27rem;

    opacity: 0.5;
    animation: trippy 5s reverse infinite;
  }

  &--photo2 {
    background-image: url(../../../public/images/jam-room.jpg);
    background-position: left 53rem center;

    opacity: 0.5;
    animation: trippy 5s infinite;
  }

  &--photo3 {
    background-image: url(../../../public/images/grey-shirt.png);
    background-position: left 53rem center;
    opacity: 0.5;
    animation: trippy 5s reverse infinite;
  }

  @media only screen and (min-width: $bp-sm) {
    margin-right: 1rem;
    height: 16.5rem;
    width: 16.5rem;
  }

  @media only screen and (max-width: 39.68625em) {
    margin-right: 0;
    height: 12rem;
    width: 12rem;
  }

  @media only screen and (max-width: $bp-sm) {
    height: 16.5rem;
    width: 16.5rem;
  }

  @media only screen and (min-width: $bp-lg) {
    display: none;
  }

  @media only screen and (min-width: $bp-xl) {
    display: block;
  }
}

/*****************************************************************/
.body {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media only screen and (min-width: $bp-lg) {
    flex-direction: column;
  }
}

/*****************************************************************/
.footer {
  display: flex;
  flex-direction: column;
}

/*****************************************************************/
.quote {
  font-size: 1rem;
  margin-top: 1rem;
  color: rgba(#fff, 0.5) !important;
  font-style: italic;
  text-align: center;

  @media only screen and (max-width: $bp-xs) {
    font-size: 0.8rem;
  }

  @media only screen and (min-width: $bp-sm) {
    font-size: 1.3rem;
  }

  @media only screen and (min-width: $bp-md) {
    font-size: 1.3rem;
  }

  @media only screen and (min-width: $bp-xl) {
    font-size: 1.1rem;
    transform: translateX(-0.1rem);
    white-space: nowrap;
  }
}

/************************************************/
@keyframes trippy {
  0% {
    filter: hue-rotate(0deg) drop-shadow(0.3rem 0.4rem 0.2rem #000);
  }

  50% {
    filter: hue-rotate(180deg) drop-shadow(0.3rem 0.4rem 0.2rem #000);
  }

  100% {
    filter: hue-rotate(360deg) drop-shadow(0.3rem 0.4rem 0.2rem #000);
  }
}
