@import "../../styles/abstracts/sass-variables";

.hero {
  text-transform: uppercase;
  font-size: 4.9rem;
  word-spacing: 0rem;
  text-align: center;
  transform: translateY(0.3rem);

  @media only screen and (min-width: $bp-md) {
    font-size: 7rem;
  }

  @media only screen and (min-width: $bp-lg) {
    font-size: 7rem;
  }

  @media only screen and (min-width: $bp-xl) {
    font-size: 9rem;
  }
}
