@import "customBS/custom-bootstrap";
@import "abstracts/css-variables";
@import "abstracts/sass-variables";

html,
body {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  transition: color 0.2s ease-in, fill 0.2s ease-in;
  font-weight: bold;
  line-height: 1.7;
  font-family: "Cutive Mono", monospace;
}

.resize-animation-stopper * {
  transition: none !important;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-template-rows: min-content minmax(min-content, 1fr);
  align-content: space-between;
}

.font-cutive-mono {
  font-family: "Cutive Mono", monospace;
}

.font-zilla-slab-highlight {
  font-family: "Zilla Slab Highlight", serif;
}
