@import "customBS/custom-bootstrap";
@import "abstracts/css-variables";
@import "abstracts/sass-variables";

html,
body {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  transition: color 0.2s ease-in, fill 0.2s ease-in;
  // font-weight: bold;
  line-height: 1.7;
  // font-family: "Cutive Mono", monospace;
  font-family: "Lato", sans-serif;
}

.resize-animation-stopper * {
  transition: none !important;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-template-rows: min-content minmax(min-content, 1fr);
  align-content: space-between;
}

.font-cutive-mono {
  font-family: "Cutive Mono", monospace;
}

.font-zilla-slab-highlight {
  font-family: "Zilla Slab Highlight", serif;
}

.card {
  box-shadow: none;
  border: 1px solid var(--text);

  color: var(--text);

  // @media only screen and (min-width: $bp-sm) {
  //   box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  //   margin: 1rem auto 2rem;
  // }

  // @media only screen and (min-width: $bp-md) {
  //   margin: 1rem auto 3rem;

  //   box-shadow: 1.2rem 1rem 0.8rem rgba(0, 0, 0, 0.4);
  // }

  // @media only screen and (min-width: 103.12375em) {
  //   box-shadow: 2.5rem 2.3rem 1rem rgba(0, 0, 0, 0.4);
  // }
}

.btn-black-and-white {
  border-radius: 0 !important;
  color: var(--text); /* Text color */
  background-color: var(--background); /* Background color */
  border-color: var(--text); /* Text color */ /* Border color */
  transition: all 0.2s ease-in;
  outline-color: var(--text) !important;

  &:hover {
    color: var(--background); /* Text color on hover */
    background-color: var(--text); /* Background color on hover */
    border-color: var(--text); /* Border color on hover */
  }

  &:focus {
    outline-color: var(--text) !important;
  }
}

.btn-link:focus {
  outline: var(--text) !important/* Your desired color here */;
  /* You can also customize other focus styles, e.g., outline-style, outline-width, etc. */
}

a {
  &:focus {
    outline: none !important;
    outline-color: transparent !important;
  }
}
