@import '../../../styles/abstracts/sass-variables';

/********************************************************/
.content {
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 5.5rem;
  padding: 1rem 0;

  svg {
    margin: 0.5rem 0;
  }

  @media only screen and (min-width: $bp-md) {
    width: 16.8rem;
    flex-direction: row;
    transform: translateX(0);

    svg {
      transform: translateX(-0.4rem);
    }
  }
}

/********************************************************/
.toysfromtaiwan {
  display: none;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 0;
  font-size: 1.3rem;
  word-spacing: 0rem;
  font-weight: bold;

  @media only screen and (min-width: $bp-md) {
    display: block;
    font-size: 2.2rem;
    word-spacing: 0.4rem;
    font-weight: 400;
  }

  @media only screen and (min-width: $bp-lg) {
    display: block;
    font-size: 2.6rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.6rem;
    font-weight: 400;
  }

  @media only screen and (min-width: $bp-xl) {
    display: block;
    font-size: 2.7rem;
    word-spacing: 0.8rem;
    letter-spacing: 0.7rem;
  }

  &__initials {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0rem;
    transform: translateY(-0.2rem);
  }
}

/********************************************************/
.tft {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0rem;
  line-height: 0;
  font-style: italic;
  font-size: 2.7rem;
  font-weight: 600;
  display: block;

  @media only screen and (min-width: $bp-md) {
    display: none;
    font-weight: 400;
  }
}

/********************************************************/
.jam {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 0;
  font-weight: 600;
  display: block;
  font-size: 2rem;
  transform: translate(4rem, -0.2rem);

  @media only screen and (min-width: $bp-md) {
    transform: translate(5.2rem, -0.3rem);
    font-size: 2.4rem;
    transform: translate(4.7rem, -0.2rem);
  }

  @media only screen and (min-width: $bp-xl) {
    transform: translate(5.2rem, -0.3rem);
    font-size: 2.8rem;
  }
}
/********************************************************/
.icon {
  position: absolute;
  top: -0.2rem;
  left: 0.1rem;

  svg {
    width: 4rem !important;
    height: 4rem !important;
    transform: rotateY(-0deg) rotateZ(-180deg);

    &:hover {
      width: 4.5rem !important;
      height: 4.5rem !important;
    }
  }

  @media only screen and (max-width: $bp-xl) {
    top: 0.2rem;
    left: 0.4rem;

    svg {
      width: 3.5rem !important;
      height: 3.5rem !important;
      transform: rotateY(-0deg) rotateZ(-180deg);

      &:hover {
        width: 3.8rem !important;
        height: 3.8rem !important;
      }
    }
  }

  @media only screen and (max-width: $bp-md) {
    top: 0.5rem;
    left: 0.8rem;
    svg {
      width: 3rem !important;
      height: 3rem !important;
      transform: rotateY(-0deg) rotateZ(-180deg);

      &:hover {
        width: 3.3rem !important;
        height: 3.3rem !important;
      }
    }
  }
}
